/*********  utils  *********/

:root {
    --main-color:#070439;
    --secondary-color:#585989;
    --btn-colors-color:#3065F8;
    --link-color:#3C9F8F;
    --bg-color: #F6F6FE;
    --LG-color:#BFBFBF;
}

/** fonts **/

* {
    font-family: "Open Sans" ,sans-serif;
}


h1 {
    font-size: 40px;
    font-family: 'Raleweay',sans-serif;
    color: var(--main-color);
    font-weight: 700;
    line-height: 60px;
}

h2 {
    font-size: 32px;
    font-family: 'Raleway',sans-serif;
    color: #fff;
    font-weight: 700;
    line-height: 48px;
}

p {
    font-size: 16px;
    color: var(--main-color);
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

/**  components  **/

li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;

}

.email-form{
    display: flex;
    gap: 16px;
}

.b-email {
    width: 30%;
    height: 45px;
    border-radius: 3px;
    background: var(--btn-colors-color);
    filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    border: 0;
    cursor: pointer;
}

a :hover{
    opacity: 0.5;
}

::placeholder {
    padding: 14px 0px 12px 21px;
    border-radius: 3px;
    font-size: 14px;
    color:#C2C2C2;
}

input{
    border: 1px solid var(--main-color);
    outline: none;
    width: 50%;
    text-align: start;
    border-radius: 3px;
}

a{
    color: #3C9F8F;
    margin-bottom: 50px;
}

 li a:hover{
    color: #6C9BFF;
}









/**  body  **/

body {
    margin: 0;
}


/**  header  **/

.nav-header {
    margin: 80px 65px;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    width: 166px;
    height: 49px;
}

.nav-items ul {
    display: inline-flex;
    gap: 57px;
}


/**  hero-section  **/

.hero-container  {
    margin: 164px 80px;
    display: flex;
    flex-direction: row;
}

.hero-content p {
   margin-right: 55px;
   width: 90%;
}


.hero-image-1 {
    object-fit: contain;
    width: 50%;
    margin-bottom: 164px;
}

/*********  productive  ************/

.productive-container  {
    padding: 164px 80px;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-color);
}

.productive-content p{
    width: 73%;
}

.productive-image-2 {
    width: 40%;
    object-fit: contain;
}

/******  quote-card  ******/

.quote-card {
    margin-top: 45px;
    background-color: #fff;
    border-radius: 5px;
    width: 51%;
    padding: 12px 0px 26px 0px ;
}

.quote-body {
    display: flex;
    justify-content: center;
}

.quote-body p {
    font-size: 13px;
    color: #070439;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
}

.icon-quotes {
    position: relative;
    left: 53px;
    top: 12px;
    width: 14px;
}

/*******  avatar ********/
.avatar {
    position: relative;
    display: flex;
    left: 50px;

}

.avatar-body {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left:5px;
    bottom: 0px;
}

.avatar-body h4 {
    margin: 0px;
    color: var(--main-color);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0.55px;
}

.avatar-body p {
    font-size: 8px;
    margin: 0;
}

.avatar-img {
    position: relative;
    right: 3px;
    width: 32px;
    height: 32px;
   border-radius: 60px;
}

/*******  sub-footer  *********/

.sub-footer {
    padding: 100px 120px 85px 80px;
    background-color: var(--secondary-color);
}

.sub-footer-body {
    
}

.sub-footer-body h2 {
    margin: 0;
}

.sub-footer-body p {
    width: 45%;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

/** email-signup  **/


.email-signup {
    display: flex;

    gap: 16px;   
}

::placeholder {
    width:40%;
    height: 48px;
}


.signup-btn {
    width: 200px;
    height: 48px;
    background: var(--btn-colors-color);
    filter: drop-shadow(2px 3px 6px rgba(7, 4, 59, 0.16));
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    padding: 16px 22px;
    text-align: center;
    cursor: pointer;
}

input {
    padding: 0px 0px 0px 20px;
}


/*******  footer-section  ******/

.text-styling {
    color: #ffff;
    text-decoration: none;
}

.footer-container {
    background-color: var(--main-color);
    height: 290px;
    padding: 168px 262px 0px 80px;
}

.footer-body {
    display: flex;
    justify-content: space-between;
   
}

.left-list {
    position: relative;
    bottom: 70px;
    display: flex;
    align-items: baseline;
}




.footer-logo {
    width: 135px;
    height: 39px;
    color: #fff;
    margin-bottom: 17px;
    
}

.icon-phone {
    color: #fff;
    margin-right: 16px;
}

.icon-email {
    margin-right: 16px;
    color: #fff;
}

/******  icons  ********/

.icons {
    position: relative;
    top: 8px;
    display: flex;
    justify-content: start;
    gap: 12px;
}

.facebook a {
    font-size: 31px;
    color: #fff;
}

.twitter a {
    font-size: 31px;
    color: #fff;
}

.instagram a {
    font-size: 31px;
    color: #fff;
}

.facebook,
.twitter,
.instagram, a:hover {
    color: #6C9BFF;
}




